<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul >
      <% messages.forEach(function(message){ %>
      <li>
        <%= message.name  %>
        <p>

          <%= message.text %>
        </p>
        <%= message.added %>
      </li>
      <% }); %>
    </ul>
    <a href="/new">Add a new message</a>
  </body>
</html>
